footer{
   width: 100%;
   background-color: #002529; 
   padding: 48px 0;
}
.footer__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__main-list{
    display: flex;
    align-items: center;
}
.footer__main-item{
   padding-left: 40px;
   padding-top: 25px ; 
}
.footer__main-item:nth-child(1){
    padding-left: 0;
}
.footer__main-link{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;  
}
.footer__about-list{
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    opacity: 0.6; 
}
.footer__link-list{
    display: flex;
    align-items: center;
    margin-bottom: 51px;
}
.footer__link-item{
    margin-left: 16px;
}
.footer__link-item:nth-child(1){
    margin-left: 0;
}
.footer__link-desc{
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    text-align: right;
    color: #FFFFFF;
    opacity: 0.6; 
}