.container{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}
@media only screen and (max-width:1140px) {
    .container{
       max-width: 689px; 
    }
}
@media  only screen and (max-width:689px) {
    .container{
        max-width: 357px ;
    }
}