.intro{
  padding: 139px 0 250px 0;
  background-color:#014E56 ;
  width: 100%;
  position: relative;
}
.intro::before{
  position: absolute;
  left: 0;
  top: 189px;
  z-index: 1;
  content: "";
  display: block;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  background-image: url("../images/another/left.png");
  background-repeat: no-repeat;
}

.intro::after{
  position: absolute;
  left: 0;
  right: -350px;
  bottom: -99px;
  z-index: 1;
  content: "";
  display: block;
  width: 358px;
  height: 200px;
  margin: 0 auto;
  background-image: url("../images/another/bottom.png");
  background-repeat: no-repeat;
}
.intro__wrapper{
    display: flex;
    align-items: center;
    position: relative;
}
.intro__title{
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 100px;
    color: #FFFFFF;
    left: 20px;
}  

.difference{
    color:  #F67E7E;
}
.intro__box{
    margin-left: auto;
}
.intro__box-spn{
    display: inline-block;
    width: 50px;
    height: 4px;
    background: #79C8C7;
    margin-bottom: 70px;
}
.intro__box-desc{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    width: 445px;
    
}
@media only screen and (max-width:1296px) {
  .intro::before{
    display: none;
  }
}

@media only screen and (max-width: 800px) {
    .intro {
      padding: 30px;
    }
    .intro::before{
      display: none;
    }
    .intro::after{
      left: 0;
      right: 0;
      bottom: -99px;
    }
    .intro__wrapper {
      flex-direction: column;
    }
    .intro__title {
      font-weight: 400;
      font-size: 67px;
      text-align: center;
      margin: 0;
      padding: 0;
      margin-top: 20px;
    }
    .intro__box {
      margin-left: 0;
    }
    .intro__box-spn {
      display: none;
      margin-bottom: 0;
    }
    .intro__box-desc {
      text-align: center;
      margin-left: 0;
      margin-bottom: 256px;
    }
}

@media only screen and (max-width: 575px){
    .intro__title{
        font-weight: 400;
        font-size: 67px;
        text-align: center;
        margin-left: 96px;
        width: 327px;
        margin-left: 0;
    }
    .intro__box-desc{
        font-weight: 400;
        text-align: center;
        margin-left: 25px;
        width: 327px; 
        margin-bottom: 256px;
    }
    .intro__title::after{
        left: -21px;
        bottom: -150px;
      }
}