.services{
    width: 100%;
    background-color:#012F34 ;
    padding: 198px 165px;
    position: relative;
}
.services::before {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    content: "";
    display: block;
    width: 100px;
    height: 244px;
    margin: 0 auto;
    background-image: url("../images/another/sevices-bc.png");
    background-repeat: no-repeat;
  }
.services__wrapper{
    display: flex;
    position: relative;
}
.services__title{
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: #FFFFFF;  
    max-width: 445px;
}
.services__title::before{
    content: "";
    display: inline-block;
    width: 50px;
    height: 4px;
    background: #F67E7E;
    position: absolute;
    top: 10px;
}
.services__list{
    margin-left: 125px;
}
.services__list-img{
    margin-right: 23px;
}
.services__list-item{
    margin: 32px 0;
    max-width: 445px ;
    display: flex;
    align-items: center;
}
.services__item-title{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #F67E7E; 
}
.services__item-desc{
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.8;  
}

@media only screen and (max-width:800px) {
    .services__wrapper{
        flex-direction: column;
        align-items: center;
    }
    .services::before{
        width: 100px;
        right: 0;
        bottom: 0;
    }
    .services__list{
        margin-left: 0;
    }
    .services__title{
        max-width: 445px;
        font-size: 33px;
    }
}

@media only screen and (max-width:575px) {
    .services::before{
        width: 100px;
        right: 0;
        bottom: 0;
    }
    .services{
        padding-top: 100px;
        padding-left: 40px;
    }
    .services::before{
        top: 0;
        right: 0;
    }
    .services__list-item{
        width: 500px ;
        flex-direction: column;
        text-align: center;
        margin-left: 110px;
    }
}